<style>
@@include('../css/common.css')
@@include('../temp/body.css')
</style>
@@include('../temp/body.html')
<script>
(function() {
  function resized() {  
    var w = window.innerWidth;
    var scale = w / 730;
    document.querySelectorAll('map area[data-m]').forEach(function (e) {
      var result;
      if (w < 1000) {
        var arr = e.dataset.m.split(",");
        for (var i = 0; i < arr.length; ++i) {
          arr[i] = arr[i] * scale;
        }
        result = arr.join(",");
      } else {
        result = e.getAttribute('data-pc');
      }
      e.setAttribute('coords', result);
    });
  }
  window.addEventListener('resize', resized);
  resized();
})();
</script>