<style>
@@include('../css/common.css')
@@include('../temp/body.css')
</style>
<script src="//code.jquery.com/jquery.min.js"></script>
@@include('../temp/body.html')
<script>
  function resized() {
    var w = $(window).width();
    var scale = w / 730;
    $("map area").attr('coords', function () {
      var result;
      if (w < 1000) {
        var arr = $(this).data('m').split(",");
        for (var i = 0; i < arr.length; ++i) {
          arr[i] = arr[i] * scale;
        }
        result = arr.join(",");
      } else {
        result = $(this).data('pc');
      }
      return result;
    });
  }
  $(window).resize(resized);
  resized();
</script>