img { display: block; }
.rWrap {
  .hidden-sm { display: none !important; }
  .aligner { position: relative;
    & > div { position: relative;
      & > img.hidden-lg { width: 100%; }
    }

    img { backface-visibility: hidden; }

    .p02 { position: relative;
      .p2-tit img { width: 100%; z-index: 1; position: relative; }
      .list-box { width: 100vw; height: 61.9vw; position: absolute; left: 0; top: 0;
        ul { display: block;
          li { width: 16%; height: 69.7%; position: absolute;
            &.list1 { left: 7%; top: 21.4%;}
            &.list2 { left: 23.7%; top: 11.3%;}
            &.list3 { left: 40.3%; top: 21.4%;}
            &.list4 { left: 56.8%; top: 11.3%;}
            &.list5 { left: 73.4%; top: 21.4%;}
            img { width:100%; height: 100%; display: block; position: absolute; left: 0; top: 0; transition: 0.4s; }
            .front-up { transform: translateY(0);  transition-timing-function: ease-out}
            .back-up { transform: translateY(-10%); opacity: 0; transition-timing-function: ease-out }
            .front-down { transform: translateY(0);  transition-timing-function: ease-out}
            .back-down { transform: translateY(10%); opacity: 0;  transition-timing-function: ease-out }
          }
        }
      }
      .list-box.on {
        ul[pos="in"] {
          li {
            &.list1 { img { transition-delay: 1s; } }
            &.list2 { img { transition-delay: 1.1s; } }
            &.list3 { img { transition-delay: 1.18s; } }
            &.list4 { img { transition-delay: 1.24s; } }
            &.list5 { img { transition-delay: 1.28s; } }
            .front-up { transform: translateY(8%); opacity: 0; }
            .back-up { transform: translateY(0); opacity: 1; }
            .front-down { transform: translateY(-8%); opacity: 0; }
            .back-down { transform: translateY(0); opacity: 1; }
          }
        }
      }
    }

    .p06 { height: 113vw;  box-sizing: border-box; border-top:1px solid #000; position: relative;
      iframe { width: 65.2%; height: 82%; position: relative; margin: 9% auto; display: block; }
    }
    .p07 { position: relative;
      .box { width: 75.2%; height: 86.6%; position: absolute; left: 50%; top: 7.6%; transform: translateX(-50%); border: 1px solid #9d9d9d; z-index: 1; pointer-events: none; }
      .slider-m { width: 100%; padding: 0 12.4%; box-sizing: border-box; position: absolute; left: 50%; top: 7.6%; transform: translateX(-50%);
        .slick-list { z-index: 1; }
        img { width: 100%; }
        .slick-arrow { width: 7%; height: 9%; top: 50%; transform: translateY(-50%); z-index: 1;
          &:before { display: none; }
          &.slick-prev { left: 4%; }
          &.slick-next { right: 4%; }
        }
        .slick-dots { top: -4%; bottom: 0; left: 50%; transform: translateX(-50%);
          li { width:10px; height:10px; background: #cdcdcd; margin:0 1.3%; border-radius: 50%;
            button { display: none; }
            &.slick-active { background: #000; }
          }
        }
      }
    }

    div[mov] { position: relative; transition: opacity 0.7s, transform 0.7s; }
    div[mov="down"] { opacity: 0; transform: translateY(15%); }
    div[mov="in"] { opacity: 1; transform: translateY(0); transition-delay: 0.1s; }
  }
}

.slick-slide .hidden-sm { display:none; }
.hidden-sm { display: none; }


@media (min-width: 1000px) {
  .rWrap { position: relative; overflow: hidden; zoom: 0.5;
    .hidden-lg { display: none !important; }
    .hidden-sm { display: block !important; }
    .aligner { position: relative; left:50%; margin-left:-960px; text-align: center; width:1920px; font-size: 0;
      & > div { & > img.hidden-sm { width:1920px; } }

      .p02 {
        .list-box { width: 1920px; height: 1169px;
          ul {
            li { width: 306px; height: 830px;
              &.list1 { left: 128px; top: 230px; }
              &.list2 { left: 447px; top: 108px; }
              &.list3 { left: 765px; top: 230px; }
              &.list4 { left: 1084px; top: 130px; }
              &.list5 { left: 1402px; top: 230px; }
            }
          }
        }
      }
      .p06 { padding: 92px 0 80px; border-top: 3px solid #000; height: auto;
        iframe { width:712px; height: 890px; margin: 0 auto; }
      }
      .p07 { position: relative;
        .slider-pc { width:1834px; height:1280px; position: absolute; left: 41px; top:107px; padding: 0 83px; box-sizing: border-box;
          .slick-arrow { width: 83px; height:260px; z-index: 1; transform: translateY(-86%);
            &.slick-prev { left: 0; }
            &.slick-next { right: 0; }
          }
          .slick-dots { bottom: -72px; left: 50%; transform: translateX(-50%);
            li { width:22px; height:22px; background: #cdcdcd; margin:0 17px; border-radius: 50%;
              button { display: none; }
              &.slick-active { background: #000; }
            }
          }
        }
      }
    }
  }
}


@media (min-width: 1400px) {
  .rWrap { zoom: 0.75; }
}

@media (min-width: 1900px) {
  .rWrap { zoom: 1; }
}

